<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <h4 class="font-weight-normal">Altran Shopping Cart</h4>
    <p>Please sign in</p>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<p class="mt-5 mb-3 text-muted text-center">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/users']">
        <fa-icon [icon]="faUserPlus"></fa-icon> Add user
    </a>
</p>
