<div class="row justify-content-md-center">
    <div class="col-md-6 order-md-1">
        <h4 class="mb-3">{{edit ? 'Edit':'Add'}} Item</h4>
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="name">Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="" value=""
                        required>
                    </div>
                <div class="col-md-6 mb-3">
                    <label for="value">Value ($)<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="value" formControlName="value" placeholder=""
                        value="" required>
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary" type="submit">{{edit ? 'Update':'Create'}} Item</button>
            <a class="btn btn-secondary cancel-button" [routerLink]="['/items']">Cancel</a>
        </form>
    </div>
</div>