<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
</h4>
<ul class="list-group mb-3 shopping-cart-lateral">
    <li *ngFor="let cartItem of cart?.items" class="list-group-item d-flex justify-content-between lh-condensed">
        <span>
            <fa-icon [icon]="faMinus" (click)="removeItem(cartItem?.item)"></fa-icon>
            <span class="quantity">{{cartItem?.quantity}}</span>
            <fa-icon [icon]="faPlus" (click)="addItem(cartItem?.item)"></fa-icon>
        </span>
        <div>
            <h6 class="my-0"> {{cartItem?.item.name}} </h6>
        </div>
        <span class="text-muted">${{cartItem?.item.value}}</span>
        <span class="text-danger">
            <fa-icon [icon]="faTrashAlt" (click)="removeAllItems(cartItem?.item)"></fa-icon>
        </span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Total</span>
        <strong>${{cart?.total | number}}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <button [disabled]="cart?.total <= 0" class="btn btn-success btn-block" (click)="closeCart()">Close Cart</button>
    </li>
</ul>